Repository learning-process/ppc-2024-mpi-retake, pull requests merged in 2025-02, with the labels that each got.

#2 Adjust repo links
  README.md
  docs/README.md
Labels: docs

#4 Update codecov
  .github/workflows/main.yml
  README.md
Labels: ci, docs

#8 Fix openssl
  .github/workflows/main.yml
Labels: ci

#9 Update func_all.cpp
  tasks/all/example/func_tests/func_all.cpp
Labels: task:all

#10 Update create_perf_table.py
  scripts/create_perf_table.py
Labels: infrastructure

#6 Хохлов Андрей. Задача 1. Вариант 11. Сумма значений по строкам матрицы.
  tasks/mpi/khokhlov_a_sum_values_by_rows/func_tests/main.cpp
  tasks/mpi/khokhlov_a_sum_values_by_rows/include/ops_mpi.hpp
  tasks/mpi/khokhlov_a_sum_values_by_rows/perf_tests/main.cpp
  tasks/mpi/khokhlov_a_sum_values_by_rows/src/ops_mpi.cpp
  tasks/seq/khokhlov_a_sum_values_by_rows/func_tests/main.cpp
  tasks/seq/khokhlov_a_sum_values_by_rows/include/ops_sec.hpp
  tasks/seq/khokhlov_a_sum_values_by_rows/perf_tests/main.cpp
  tasks/seq/khokhlov_a_sum_values_by_rows/src/ops_seq.cpp
Labels: task:seq, task:mpi

#20 Print gtest output in run_perf_counter.py
  scripts/run_perf_counter.py
Labels: infrastructure

#17 Будажапова Екатерина. Задача 1. Вариант 23. Частота символов в cтроке
  tasks/mpi/budazhapova_e_count_freq_character/func_tests/count_freq_of_ch_func_tests_mpi.cpp
  tasks/mpi/budazhapova_e_count_freq_character/include/count_freq_chart_mpi_header.hpp
  tasks/mpi/budazhapova_e_count_freq_character/perf_tests/count_freq_of_ch_perf_tests_mpi.cpp
  tasks/mpi/budazhapova_e_count_freq_character/src/count_freq_of_ch_mpi.cpp
  tasks/seq/budazhapova_e_count_freq_character/func_tests/count_freq_of_ch_func_tests_seq.cpp
  tasks/seq/budazhapova_e_count_freq_character/include/count_freq_counter_header.h
  tasks/seq/budazhapova_e_count_freq_character/perf_tests/count_freq_of_ch_perf_tests_seq.cpp
  tasks/seq/budazhapova_e_count_freq_character/src/count_freq_of_ch_src_seq.cpp
Labels: task:seq, task:mpi

#26 Велиев Эльвин. Задача 2. Вариант 24. Метод простых итераций
  tasks/mpi/veliev_e_simple_iteration_method/func_tests/mpi_f_main_iter.cpp
  tasks/mpi/veliev_e_simple_iteration_method/include/mpi_header_iter.hpp
  tasks/mpi/veliev_e_simple_iteration_method/perf_tests/mpi_perf_iter.cpp
  tasks/mpi/veliev_e_simple_iteration_method/src/mpi_source_iter.cpp
  tasks/seq/veliev_e_simple_iteration_method/func_tests/seq_f_main_iter.cpp
  tasks/seq/veliev_e_simple_iteration_method/include/seq_header_iter.hpp
  tasks/seq/veliev_e_simple_iteration_method/perf_tests/seq_perf_iter.cpp
  tasks/seq/veliev_e_simple_iteration_method/src/seq_source_iter.cpp
Labels: task:seq, task:mpi

#31 Ополин Дмитрий. Задача 2. Вариант 24. Метод простых итераций.
  tasks/mpi/opolin_d_simple_iteration_method/func_tests/main.cpp
  tasks/mpi/opolin_d_simple_iteration_method/include/ops_mpi.hpp
  tasks/mpi/opolin_d_simple_iteration_method/perf_tests/main.cpp
  tasks/mpi/opolin_d_simple_iteration_method/src/ops_mpi.cpp
  tasks/seq/opolin_d_simple_iteration_method/func_tests/main.cpp
  tasks/seq/opolin_d_simple_iteration_method/include/ops_seq.hpp
  tasks/seq/opolin_d_simple_iteration_method/perf_tests/main.cpp
  tasks/seq/opolin_d_simple_iteration_method/src/ops_seq.cpp
Labels: task:seq, task:mpi

#5 Дерябин Максим. Задача 3. Вариант 1. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кеннона.
  tasks/mpi/deryabin_m_cannons_algorithm/func_tests/main.cpp
  tasks/mpi/deryabin_m_cannons_algorithm/include/ops_mpi.hpp
  tasks/mpi/deryabin_m_cannons_algorithm/perf_tests/main.cpp
  tasks/mpi/deryabin_m_cannons_algorithm/src/ops_mpi.cpp
  tasks/seq/deryabin_m_cannons_algorithm/func_tests/main.cpp
  tasks/seq/deryabin_m_cannons_algorithm/include/ops_seq.hpp
  tasks/seq/deryabin_m_cannons_algorithm/perf_tests/main.cpp
  tasks/seq/deryabin_m_cannons_algorithm/src/ops_seq.cpp
Labels: task:seq, task:mpi

#33 Хохлов Андрей. Задача 3. Вариант 10. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/mpi/khokhlov_a_multi_integration_monte_karlo/func_tests/main.cpp
  tasks/mpi/khokhlov_a_multi_integration_monte_karlo/include/ops_mpi.hpp
  tasks/mpi/khokhlov_a_multi_integration_monte_karlo/perf_tests/main.cpp
  tasks/mpi/khokhlov_a_multi_integration_monte_karlo/src/ops_mpi.cpp
  tasks/seq/khokhlov_a_multi_integration_monte_karlo/func_tests/main.cpp
  tasks/seq/khokhlov_a_multi_integration_monte_karlo/include/ops_seq.hpp
  tasks/seq/khokhlov_a_multi_integration_monte_karlo/perf_tests/main.cpp
  tasks/seq/khokhlov_a_multi_integration_monte_karlo/src/ops_seq.cpp
Labels: task:seq, task:mpi

#41 Ополин Дмитрий. Задача 1. Вариант 12. Сумма значений по столбцам матрицы.
  tasks/mpi/opolin_d_sum_by_columns/func_tests/main.cpp
  tasks/mpi/opolin_d_sum_by_columns/include/ops_mpi.hpp
  tasks/mpi/opolin_d_sum_by_columns/perf_tests/main.cpp
  tasks/mpi/opolin_d_sum_by_columns/src/ops_mpi.cpp
  tasks/seq/opolin_d_sum_by_columns/func_tests/main.cpp
  tasks/seq/opolin_d_sum_by_columns/include/ops_seq.hpp
  tasks/seq/opolin_d_sum_by_columns/perf_tests/main.cpp
  tasks/seq/opolin_d_sum_by_columns/src/ops_seq.cpp
Labels: task:seq, task:mpi

#25 Шуравина Оксана. Задание 2 Вариант 27. Повышение контраста
  tasks/mpi/shuravina_o_contrast/func_tests/main.cpp
  tasks/mpi/shuravina_o_contrast/include/ops_mpi.hpp
  tasks/mpi/shuravina_o_contrast/perf_tests/main.cpp
  tasks/mpi/shuravina_o_contrast/src/ops_mpi.cpp
  tasks/seq/shuravina_o_coontrast/func_tests/main.cpp
  tasks/seq/shuravina_o_coontrast/include/ops_seq.hpp
  tasks/seq/shuravina_o_coontrast/perf_tests/main.cpp
  tasks/seq/shuravina_o_coontrast/src/ops_seq.cpp
Labels: task:seq, task:mpi

#66 Disable mezhuev_m_lattice_torus
  tasks/mpi/mezhuev_m_lattice_torus_disabled/func_tests/main.cpp
  tasks/mpi/mezhuev_m_lattice_torus_disabled/include/mpi.hpp
  tasks/mpi/mezhuev_m_lattice_torus_disabled/perf_tests/main.cpp
  tasks/mpi/mezhuev_m_lattice_torus_disabled/src/mpi.cpp
Labels: task:mpi

#22 Комшина Дарья. Задача 1. Вариант 5. Нахождение числа чередований знаков значений соседних элементов вектора.
  tasks/mpi/komshina_d_num_of_alternating_signs_of_values/func_tests/main.cpp
  tasks/mpi/komshina_d_num_of_alternating_signs_of_values/include/ops_mpi.hpp
  tasks/mpi/komshina_d_num_of_alternating_signs_of_values/perf_tests/main.cpp
  tasks/mpi/komshina_d_num_of_alternating_signs_of_values/src/ops_mpi.cpp
  tasks/seq/komshina_d_num_of_alternating_signs_of_values/func_tests/main.cpp
  tasks/seq/komshina_d_num_of_alternating_signs_of_values/include/ops_sec.hpp
  tasks/seq/komshina_d_num_of_alternating_signs_of_values/perf_tests/main.cpp
  tasks/seq/komshina_d_num_of_alternating_signs_of_values/src/ops_seq.cpp
Labels: task:seq, task:mpi

#28 Кавторев Дмитрий. Задача 1. Вариант 8. Нахождение наиболее отличающихся по значению соседних элементов вектора.
  tasks/mpi/kavtorev_d_most_different_neighbor_elements/func_tests/main.cpp
  tasks/mpi/kavtorev_d_most_different_neighbor_elements/include/ops_mpi.hpp
  tasks/mpi/kavtorev_d_most_different_neighbor_elements/perf_tests/main.cpp
  tasks/mpi/kavtorev_d_most_different_neighbor_elements/src/ops_mpi.cpp
  tasks/seq/kavtorev_d_most_different_neighbor_elements/func_tests/main.cpp
  tasks/seq/kavtorev_d_most_different_neighbor_elements/include/ops_seq.hpp
  tasks/seq/kavtorev_d_most_different_neighbor_elements/perf_tests/main.cpp
  tasks/seq/kavtorev_d_most_different_neighbor_elements/src/ops_seq.cpp
Labels: task:seq, task:mpi

#30 Будажапова Екатерина. Задача 3. Вариант 19. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi/func_tests/radix_sort_with_betcher_func_tests.cpp
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi/include/radix_sort_with_betcher.h
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi/perf_tests/radix_sort_with_betcher_perf_mpi.cpp
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi/src/radix_sort_with_betcher_main.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq/func_tests/radix_sort_with_betcher_func_tests_seq.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq/include/radix_sort_with_betcher_seq.h
  tasks/seq/budazhapova_betcher_odd_even_merge_seq/perf_tests/radix_sort_with_betcher_perf_seq.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq/src/radix_sort_with_betcher_main_seq.cpp
Labels: task:seq, task:mpi

#45 Строганов Михаил. Задача 2. Вариант 3. Задача «Обедающие философы»
  tasks/mpi/stroganov_m_dining_philosophers/func_tests/main.cpp
  tasks/mpi/stroganov_m_dining_philosophers/include/ops_mpi.hpp
  tasks/mpi/stroganov_m_dining_philosophers/perf_tests/main.cpp
  tasks/mpi/stroganov_m_dining_philosophers/src/ops_mpi.cpp
Labels: task:mpi

#52 Кавторев Дмитрий. Задача 3. Вариант 20. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием
  tasks/mpi/kavtorev_d_radix_double_sort/func_tests/main.cpp
  tasks/mpi/kavtorev_d_radix_double_sort/include/ops_mpi.hpp
  tasks/mpi/kavtorev_d_radix_double_sort/perf_tests/main.cpp
  tasks/mpi/kavtorev_d_radix_double_sort/src/ops_mpi.cpp
  tasks/seq/kavtorev_d_radix_double_sort/data/test.txt
  tasks/seq/kavtorev_d_radix_double_sort/func_tests/main.cpp
  tasks/seq/kavtorev_d_radix_double_sort/include/ops_seq.hpp
  tasks/seq/kavtorev_d_radix_double_sort/perf_tests/main.cpp
  tasks/seq/kavtorev_d_radix_double_sort/src/ops_seq.cpp
Labels: task:seq, task:mpi

#62 Чернова Наталья. Задача 1. Вариант 24. Подсчет числа слов в строке
  tasks/mpi/chernova_n_word_count/func_tests/main.cpp
  tasks/mpi/chernova_n_word_count/include/ops_mpi.hpp
  tasks/mpi/chernova_n_word_count/perf_tests/main.cpp
  tasks/mpi/chernova_n_word_count/src/ops_mpi.cpp
  tasks/seq/chernova_n_word_count/func_tests/main.cpp
  tasks/seq/chernova_n_word_count/include/ops_seq.hpp
  tasks/seq/chernova_n_word_count/perf_tests/main.cpp
  tasks/seq/chernova_n_word_count/src/ops_seq.cpp
Labels: task:seq, task:mpi

#60 Хованский Дмитрий. Задача 3. Вариант 7. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/mpi/khovansky_d_rectangles_integral/func_tests/main.cpp
  tasks/mpi/khovansky_d_rectangles_integral/include/ops_mpi.hpp
  tasks/mpi/khovansky_d_rectangles_integral/perf_tests/main.cpp
  tasks/mpi/khovansky_d_rectangles_integral/src/ops_mpi.cpp
  tasks/seq/khovansky_d_rectangles_integral/func_tests/main.cpp
  tasks/seq/khovansky_d_rectangles_integral/include/ops_seq.hpp
  tasks/seq/khovansky_d_rectangles_integral/perf_tests/main.cpp
  tasks/seq/khovansky_d_rectangles_integral/src/ops_seq.cpp
Labels: task:seq, task:mpi

#81 Disable budazhapova_betcher_odd_even_merge
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi_disabled/func_tests/radix_sort_with_betcher_func_tests.cpp
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi_disabled/include/radix_sort_with_betcher.h
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi_disabled/perf_tests/radix_sort_with_betcher_perf_mpi.cpp
  tasks/mpi/budazhapova_betcher_odd_even_merge_mpi_disabled/src/radix_sort_with_betcher_main.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq_disabled/func_tests/radix_sort_with_betcher_func_tests_seq.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq_disabled/include/radix_sort_with_betcher_seq.h
  tasks/seq/budazhapova_betcher_odd_even_merge_seq_disabled/perf_tests/radix_sort_with_betcher_perf_seq.cpp
  tasks/seq/budazhapova_betcher_odd_even_merge_seq_disabled/src/radix_sort_with_betcher_main_seq.cpp
Labels: task:seq, task:mpi

#34 Константинов Илья. Задача 1. Вариант 10. Сумма элементов матрицы
  tasks/mpi/Konstantinov_I_sum_of_vector_elements/func_tests/main.cpp
  tasks/mpi/Konstantinov_I_sum_of_vector_elements/include/ops_mpi.hpp
  tasks/mpi/Konstantinov_I_sum_of_vector_elements/perf_tests/main.cpp
  tasks/mpi/Konstantinov_I_sum_of_vector_elements/src/ops_mpi.cpp
  tasks/seq/Konstantinov_I_sum_of_vector_elements/func_tests/main.cpp
  tasks/seq/Konstantinov_I_sum_of_vector_elements/include/ops_seq.hpp
  tasks/seq/Konstantinov_I_sum_of_vector_elements/perf_tests/main.cpp
  tasks/seq/Konstantinov_I_sum_of_vector_elements/src/ops_seq.cpp
Labels: task:seq, task:mpi

#47 Межуев Максим 1 Задача 8 Вариант "Нахождение наиболее отличающихся по значению соседних элементов вектора"
  tasks/mpi/mezhuev_m_most_different_neighbor_elements_mpi/func_tests/main.cpp
  tasks/mpi/mezhuev_m_most_different_neighbor_elements_mpi/include/mpi.hpp
  tasks/mpi/mezhuev_m_most_different_neighbor_elements_mpi/perf_tests/main.cpp
  tasks/mpi/mezhuev_m_most_different_neighbor_elements_mpi/src/mpi.cpp
  tasks/seq/mezhuev_m_most_different_neighbor_elements_seq/func_tests/main.cpp
  tasks/seq/mezhuev_m_most_different_neighbor_elements_seq/include/seq.hpp
  tasks/seq/mezhuev_m_most_different_neighbor_elements_seq/perf_tests/main.cpp
  tasks/seq/mezhuev_m_most_different_neighbor_elements_seq/src/seq.cpp
Labels: task:seq, task:mpi

#49 Соловьев Алексей. Задача 3. Вариант 31. Маркировка компонент на бинарном изображении
  tasks/mpi/solovev_a_binary_image_marking/func_tests/main.cpp
  tasks/mpi/solovev_a_binary_image_marking/include/ops_mpi.hpp
  tasks/mpi/solovev_a_binary_image_marking/perf_tests/main.cpp
  tasks/mpi/solovev_a_binary_image_marking/src/ops_mpi.cpp
  tasks/seq/solovev_a_binary_image_marking/func_tests/main.cpp
  tasks/seq/solovev_a_binary_image_marking/include/ops_sec.hpp
  tasks/seq/solovev_a_binary_image_marking/perf_tests/main.cpp
  tasks/seq/solovev_a_binary_image_marking/src/ops_seq.cpp
Labels: task:seq, task:mpi

#50 Калинин Дмитрий. Задача 3. Вариант 17. Сортировка Шелла с четно-нечетным слиянием Бэтчера
  tasks/mpi/kalinin_d_odd_even_shellsort/func_tests/func_mpi_odd_even_shell.cpp
  tasks/mpi/kalinin_d_odd_even_shellsort/include/header_mpi_odd_even_shell.hpp
  tasks/mpi/kalinin_d_odd_even_shellsort/perf_tests/perf_mpi_odd_even_shell.cpp
  tasks/mpi/kalinin_d_odd_even_shellsort/src/source_mpi_odd_even_shell.cpp
  tasks/seq/kalinin_d_odd_even_shellsort/func_tests/func_seq_odd_even_shell.cpp
  tasks/seq/kalinin_d_odd_even_shellsort/include/header_seq_odd_even_shell.hpp
  tasks/seq/kalinin_d_odd_even_shellsort/perf_tests/main_perf_seq_shell.cpp
  tasks/seq/kalinin_d_odd_even_shellsort/src/source_seq_odd_even_shell.cpp
Labels: task:seq, task:mpi

#29 Страхов Андрей. Задача 1. Вариант 23. Частота символов в cтроке
  tasks/mpi/strakhov_a_char_freq_counter/func_tests/main.cpp
  tasks/mpi/strakhov_a_char_freq_counter/include/ops_mpi.hpp
  tasks/mpi/strakhov_a_char_freq_counter/perf_tests/main.cpp
  tasks/mpi/strakhov_a_char_freq_counter/src/ops_mpi.cpp
  tasks/seq/strakhov_a_char_freq_counter/func_tests/main.cpp
  tasks/seq/strakhov_a_char_freq_counter/include/ops_seq.hpp
  tasks/seq/strakhov_a_char_freq_counter/perf_tests/main.cpp
  tasks/seq/strakhov_a_char_freq_counter/src/ops_seq.cpp
Labels: task:seq, task:mpi
